/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.button-bol{
  margin-left: 8rem;
  margin-top: 2rem;
}
#button-pag{
  float: left;
  margin-left: 8rem;
  margin-top: -2rem;
}
.sess-cred{
  margin-top: 1rem;
}
